.card{
  width: 420px;
  height: 200px;
  display: flex;
  margin: 10px;

  -webkit-box-shadow: 9px 7px 5px rgba(50, 50, 50, 0.77);
		-moz-box-shadow:    9px 7px 5px rgba(50, 50, 50, 0.77);
		box-shadow:         9px 7px 5px rgba(50, 50, 50, 0.77);
}

.img{
  background-color: brown;
  height: 200px;
  width: 200px;
}
.detals{
  height: 100%;
  width: 100%;
  background-color: green;
}